doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', media='screen', href='https://fontlibrary.org/face/symbola')
  body
    block content
